:root{
    --color-dark:#2F372C;
    --color-light:#F6EFEE;
    --main-color: #009900;
    --color-link: #8EB8E5;
    --site-width: 1100px;
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
figure{
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img:has(+figcaption){
        height: calc(100%-1em);
    }
}
body {
    font-family: sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);

    > header {
        background-color: var(--main-color);

        font-size: 1.2 em;
        strong, em {
            display: block;
        }
    }
}
footer {
    text-align: center;
    font-weight: bold;
    padding: 2em;
    display: grid;

}
/*

class is a way to apply styles to many elements
    - in css period means class

background-image: linear-gradient(to right, var(--main-color),var(--color-link));
        padding: 1em;

*/
.site-width{
    /*width is not very reponsive
    max with is more reponseive*/
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 1.253637em;

}
.btn {
    background-color: var(--color-link);
    padding: 1em;
    display: inline-block;
    color: var(--color-dark);
    border-radius: 9px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity .2s ease-in-out;
    margin-top: 1em;
}
.btn:hover{
    opacity: .857;

}
p {
    margin-bottom: 1em;
}
p:last{
    margin-bottom: 0;
}
.highlight {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 1em;
}

.pad-btm-3{
padding-bottom: 3em;
}
.pad-btm-1{
padding-bottom: 1em;
}
@media (max-width: 800px) {
    .hide-mobile {
        display: none !important;
    }
}
.resources,
.resources * {
    all: revert;
    font-family: "Times New Roman", Times,Arial !important;
    letter-spacing: 0.02em;
    line-height: 1.6;
}
